@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;1,200&family=Newsreader:wght@200&family=Sofia&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');



*{
    padding: 0px;
    margin: 0px;
    
}
:root{
    --cor0: #29335c;
    --cor1: #a20021;
    --cor2: #ffa630;
    --cor3: #47e5bc;
    --cor4: #008bf8;
    --cor5: #ff7b9c;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "patua one", cursive;
    --fonte-redes: 'Sofia', cursive;
    --fonte-texto: 'Crimson Pro', serif;
    --fonte-texto2: 'Source Serif 4', serif;
}
body{
    background-color: rgb(219, 216, 216);
}


#cabecalho{
    background-image: linear-gradient(to right, #ffa630, #ff7b9c );
}
#redessociais{
 
}


#logo{
    width: 200px;
    margin-left: 10px;
}
#redeseimg{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-family: var(--fonte-redes);
}

#imgredes{
    padding: 10px;
    width: 50px;
    border-radius: 50%;
}
#menu{
    background-color: var(--cor3);
    
    
}
#ulmenu{
    
}
#limenu{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    
    
    
}
#linkmenu{
    text-decoration: none;
    color: black;
    font-family: var(--fonte-padrao);
}
#h1frases{
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 5px;
}
#containerfrases{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px; 
    
}
#frases{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    font-family: var(--fonte-texto);
    font-weight: normal;
    border-radius: 30px;
    border: solid 3px var(--cor1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
}
#pfrases{
    font-size: 1.3em;
}

#aspas1{
    width: 30px;
}
#aspas2{
    width: 30px;
    float: right;
}
hr{
    width: 30px;
}
#containericon{
    position: absolute;
    width: 300px;
    height: 60px;
    text-align: center;
    background-color:var(--cor2);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
    margin-bottom: 20px;
    bottom: 0;
    
}
#imgcompartilhar{
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    float: left;
    margin-left: 10px;
}
#imgfrases{
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    float: right;
    margin-right: 10px;
   
      
}

#containerautores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#autores{
    background-color: var(--cor3);
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}


#autores:hover{
    
    background-color: white;
    
}
#autores > a{
    color: black;
    text-decoration: none;
}


#divisao{
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#videos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;   
}
#frame{
    width: 360px;
    height: 215px;
    padding: 10px;
}

#frasescentro{
    width: 300px;
   text-align: center;
}



#footer{
    background-image: linear-gradient(to right, #ffa630, #ff7b9c );
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

}
#containerfooter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    background-image: linear-gradient(to right, #ffa630, #ff7b9c );
    display: grid;
    
}

#imgfooter{
    width: 200px;
    margin-left: 10px;
}
#direitos{
    background-color: black;
    color: white;
    text-align: center;
}



#menufoo{
    text-decoration: none;
    
    
    
}
#ulmenufoo > a{
    text-decoration: none;
  
    
}
#limenufoo{
    display: block;
    padding: 10px;
    text-decoration: none;
    
}
#linkmenufoo{
    color: black;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    
}


#imgfooter{
    width: 200px;
    margin-left: 10px;
}
    
